# Step 1: Data Ingestion

In [1]:
import numpy as np
import pandas as pd
import os
import pathlib

In [2]:
notebook_dir = pathlib.Path(os.getcwd()) 
csvdir_path = notebook_dir.parent / "data" / "external" 
file_name = "FPA_FOD_Plus.csv"
file_path = f"{csvdir_path}/{file_name}"

In [3]:
df_init = pd.read_csv(file_path)

/var/folders/l5/nv1yy17503b71cs9y247p65w0000gn/T/ipykernel_72079/477084150.py:1: DtypeWarning: Columns (9,11,13,14,15,16,17,52,53,60,62,63,64,307) have mixed types. Specify dtype option on import or set low_memory=False.
  df_init = pd.read_csv(file_path)

## Getting to know the data

In [4]:
# 1. how many columns does the dataset contain?
print(f"The number of columns in the dataset: {df_init.shape[1]}")

# 2. how many rows are there in the dataset?
print(f"The number of columns in the dataset: {df_init.shape[0]}")

# 3. what are the column names?
print(f"Column names int the dataset: {list(df_init.columns)}")

The number of columns in the dataset: 308
The number of columns in the dataset: 2302521
Column names int the dataset: ['FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM', 'NWCG_REPORTING_AGENCY', 'NWCG_REPORTING_UNIT_ID', 'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT', 'SOURCE_REPORTING_UNIT_NAME', 'LOCAL_FIRE_REPORT_ID', 'LOCAL_INCIDENT_ID', 'FIRE_CODE', 'FIRE_NAME', 'ICS_209_PLUS_INCIDENT_JOIN_ID', 'ICS_209_PLUS_COMPLEX_JOIN_ID', 'MTBS_ID', 'MTBS_FIRE_NAME', 'COMPLEX_NAME', 'FIRE_YEAR', 'DISCOVERY_DATE', 'DISCOVERY_DOY', 'DISCOVERY_TIME', 'NWCG_CAUSE_CLASSIFICATION', 'NWCG_GENERAL_CAUSE', 'NWCG_CAUSE_AGE_CATEGORY', 'CONT_DATE', 'CONT_DOY', 'CONT_TIME', 'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE', 'LONGITUDE', 'OWNER_DESCR', 'STATE', 'COUNTY', 'FIPS_CODE', 'FIPS_NAME', 'LatLong_State', 'LatLong_County', 'NPL', 'Mang_Type', 'Mang_Name', 'Des_Tp', 'GAP_Sts', 'GAP_Prity', 'EVH', 'EVT', 'EVH_1km', 'EVT_1km', 'EVC', 'EVC_1km', 'NAME', 'MOD_NDVI_12m', 'MOD_EVI_12m', 'Land_Cover', 'Land_Cover_1km', 'rpms', 'rpms_1km', 'Population', 'Popo_1km', 'GACCAbbrev', 'GACC_PL', 'GACC_New fire', 'GACC_New LF', 'GACC_Uncont LF', 'GACC_Type 1 IMTs', 'GACC_Type 2 IMTs', 'GACC_NIMO Teams', 'GACC_Area Command Teams', 'GACC_Fire Use Teams', 'GDP', 'pr_Normal', 'tmmn_Normal', 'tmmx_Normal', 'rmin_Normal', 'rmax_Normal', 'sph_Normal', 'srad_Normal', 'fm100_Normal', 'fm1000_Normal', 'bi_Normal', 'vpd_Normal', 'erc_Normal', 'DF_PFS', 'AF_PFS', 'HDF_PFS', 'DSF_PFS', 'EBF_PFS', 'EALR_PFS', 'EBLR_PFS', 'EPLR_PFS', 'HBF_PFS', 'LLEF_PFS', 'LIF_PFS', 'LMI_PFS', 'MHVF_PFS', 'PM25F_PFS', 'HSEF', 'P100_PFS', 'P200_PFS', 'LPF_PFS', 'NPL_PFS', 'RMP_PFS', 'TSDF_PFS', 'TPF', 'TF_PFS', 'UF_PFS', 'WF_PFS', 'M_WTR', 'M_WKFC', 'M_CLT', 'M_ENY', 'M_TRN', 'M_HSG', 'M_PLN', 'M_HLTH', 'SM_C', 'SM_PFS', 'EPLRLI', 'EALRLI', 'EBLRLI', 'PM25LI', 'EBLI', 'DPMLI', 'TPLI', 'LPMHVLI', 'HBLI', 'RMPLI', 'SFLI', 'HWLI', 'WDLI', 'DLI', 'ALI', 'HDLI', 'LLELI', 'LILHSE', 'PLHSE', 'LMILHSE', 'ULHSE', 'EPL_ET', 'EAL_ET', 'EBL_ET', 'EB_ET', 'PM25_ET', 'DS_ET', 'TP_ET', 'LPP_ET', 'HB_ET', 'RMP_ET', 'NPL_ET', 'TSDF_ET', 'WD_ET', 'DB_ET', 'A_ET', 'HD_ET', 'LLE_ET', 'UN_ET', 'LISO_ET', 'POV_ET', 'LMI_ET', 'IA_LMI_ET', 'IA_UN_ET', 'IA_POV_ET', 'TC', 'CC', 'IAULHSE', 'IAPLHSE', 'IALMILHSE', 'IALMIL_87', 'IAPLHS_88', 'IAULHS_89', 'LHE', 'IALHE', 'IAHSEF', 'CA', 'NCA', 'CA_LT20', 'M_CLT_EOMI', 'M_ENY_EOMI', 'M_TRN_EOMI', 'M_HSG_EOMI', 'M_PLN_EOMI', 'M_WTR_EOMI', 'M_HLTH_102', 'M_WKFC_103', 'FPL200S', 'M_WKFC_105', 'M_EBSI', 'UI_EXP', 'THRHLD', 'No_FireStation_1.0km', 'No_FireStation_5.0km', 'No_FireStation_10.0km', 'No_FireStation_20.0km', 'FRG_1km', 'FRG', 'TRI_1km', 'TRI', 'Aspect_1km', 'Elevation_1km', 'Elevation', 'Slope_1km', 'Aspect', 'Slope', 'GHM', 'TPI', 'TPI_1km', 'TRACT', 'RPL_THEMES', 'RPL_THEME1', 'EPL_POV', 'EPL_UNEMP', 'EPL_PCI', 'EPL_NOHSDP', 'RPL_THEME2', 'EPL_AGE65', 'EPL_AGE17', 'EPL_DISABL', 'EPL_SNGPNT', 'RPL_THEME3', 'EPL_MINRTY', 'EPL_LIMENG', 'RPL_THEME4', 'EPL_MUNIT', 'EPL_MOBILE', 'EPL_CROWD', 'EPL_NOVEH', 'EPL_GROUPQ', 'road_county_dis', 'road_interstate_dis', 'road_common_name_dis', 'road_other_dis', 'road_state_dis', 'road_US_dis', 'Ecoregion_US_L4CODE', 'Ecoregion_US_L3CODE', 'Ecoregion_NA_L3CODE', 'Ecoregion_NA_L2CODE', 'Ecoregion_NA_L1CODE', 'SDI', 'Annual_etr', 'Annual_precipitation', 'Annual_tempreture', 'Aridity_index', 'Evacuation', 'pr', 'tmmn', 'tmmx', 'rmin', 'rmax', 'sph', 'vs', 'th', 'srad', 'etr', 'fm100', 'fm1000', 'bi', 'vpd', 'erc', 'pr_5D_mean', 'tmmn_5D_mean', 'tmmx_5D_mean', 'rmin_5D_mean', 'rmax_5D_mean', 'sph_5D_mean', 'vs_5D_mean', 'th_5D_mean', 'srad_5D_mean', 'etr_5D_mean', 'fm100_5D_mean', 'fm1000_5D_mean', 'bi_5D_mean', 'vpd_5D_mean', 'erc_5D_mean', 'pr_5D_min', 'pr_5D_max', 'tmmn_5D_max', 'tmmx_5D_max', 'rmin_5D_min', 'rmax_5D_min', 'sph_5D_min', 'vs_5D_max', 'th_5D_max', 'srad_5D_max', 'etr_5D_max', 'fm100_5D_min', 'fm1000_5D_min', 'bi_5D_max', 'vpd_5D_max', 'erc_5D_max', 'tmmn_Percentile', 'tmmx_Percentile', 'sph_Percentile', 'vs_Percentile', 'fm100_Percentile', 'bi_Percentile', 'vpd_Percentile', 'erc_Percentile', 'NDVI-1day', 'NDVI_min', 'NDVI_max', 'NDVI_mean', 'CheatGrass', 'ExoticAnnualGrass', 'Medusahead', 'PoaSecunda', 'geometry']

In [5]:
# 4. how many missing values are there in each column?
df_init.isna().sum().sort_values(ascending=False).head(20)

IAHSEF                           2302521
IAULHS_89                        2302521
IAPLHS_88                        2302521
IALMIL_87                        2302521
ICS_209_PLUS_COMPLEX_JOIN_ID     2301454
road_interstate_dis              2300797
road_US_dis                      2297213
COMPLEX_NAME                     2296693
road_other_dis                   2290753
MTBS_ID                          2288759
MTBS_FIRE_NAME                   2288759
ICS_209_PLUS_INCIDENT_JOIN_ID    2269099
road_state_dis                   2268194
road_county_dis                  2261432
NWCG_CAUSE_AGE_CATEGORY          2227010
No_FireStation_1.0km             2110937
Evacuation                       2009434
CheatGrass                       1921616
ExoticAnnualGrass                1921616
Medusahead                       1921616
dtype: int64

In [6]:
missing_vals = df_init.isna().sum().sort_values(ascending=False)

In [7]:
missing_vals.head(35)

IAHSEF                           2302521
IAULHS_89                        2302521
IAPLHS_88                        2302521
IALMIL_87                        2302521
ICS_209_PLUS_COMPLEX_JOIN_ID     2301454
road_interstate_dis              2300797
road_US_dis                      2297213
COMPLEX_NAME                     2296693
road_other_dis                   2290753
MTBS_ID                          2288759
MTBS_FIRE_NAME                   2288759
ICS_209_PLUS_INCIDENT_JOIN_ID    2269099
road_state_dis                   2268194
road_county_dis                  2261432
NWCG_CAUSE_AGE_CATEGORY          2227010
No_FireStation_1.0km             2110937
Evacuation                       2009434
CheatGrass                       1921616
ExoticAnnualGrass                1921616
Medusahead                       1921616
PoaSecunda                       1921616
FIRE_CODE                        1905220
LOCAL_FIRE_REPORT_ID             1824846
geometry                         1730504
GACC_Fire Use Teams              1710985
GACC_Type 2 IMTs                 1183441
GACC_New LF                      1183441
GACC_Area Command Teams          1183441
GACC_NIMO Teams                  1183441
GACCAbbrev                       1183441
GACC_PL                          1183441
GACC_New fire                    1183441
GACC_Type 1 IMTs                 1183441
GACC_Uncont LF                   1183441
FIRE_NAME                         995395
dtype: int64

In [8]:
df_init.shape

(2302521, 308)

In [9]:
# retrieve column names that have the number of missing values greater than 1 million
cutoff_missing_values = 1000000
cols_missing_gt1mil = list(missing_vals[missing_vals > cutoff_missing_values].index)
print(f"Number of columns with missing values greater than 1 million: {len(cols_missing_gt1mil)}")
print("Those columns are:")
print(*cols_missing_gt1mil, sep="\n")

Number of columns with missing values greater than 1 million: 34
Those columns are:
IAHSEF
IAULHS_89
IAPLHS_88
IALMIL_87
ICS_209_PLUS_COMPLEX_JOIN_ID
road_interstate_dis
road_US_dis
COMPLEX_NAME
road_other_dis
MTBS_ID
MTBS_FIRE_NAME
ICS_209_PLUS_INCIDENT_JOIN_ID
road_state_dis
road_county_dis
NWCG_CAUSE_AGE_CATEGORY
No_FireStation_1.0km
Evacuation
CheatGrass
ExoticAnnualGrass
Medusahead
PoaSecunda
FIRE_CODE
LOCAL_FIRE_REPORT_ID
geometry
GACC_Fire Use Teams
GACC_Type 2 IMTs
GACC_New LF
GACC_Area Command Teams
GACC_NIMO Teams
GACCAbbrev
GACC_PL
GACC_New fire
GACC_Type 1 IMTs
GACC_Uncont LF

In [10]:
# retrieve column names that have the number of missing values greater than 80%
cutoff_missing_values = df_init.shape[0]*0.8
cols_missing_gt80pct = list(missing_vals[missing_vals > cutoff_missing_values].index)
print(f"Number of columns with missing values greater than 80%: {len(cols_missing_gt80pct)}")
print("Those columns are:")
print(*cols_missing_gt80pct, sep="\n")

Number of columns with missing values greater than 80%: 22
Those columns are:
IAHSEF
IAULHS_89
IAPLHS_88
IALMIL_87
ICS_209_PLUS_COMPLEX_JOIN_ID
road_interstate_dis
road_US_dis
COMPLEX_NAME
road_other_dis
MTBS_ID
MTBS_FIRE_NAME
ICS_209_PLUS_INCIDENT_JOIN_ID
road_state_dis
road_county_dis
NWCG_CAUSE_AGE_CATEGORY
No_FireStation_1.0km
Evacuation
CheatGrass
ExoticAnnualGrass
Medusahead
PoaSecunda
FIRE_CODE

In [11]:
# drop columns that have missing values greater than 80%
df_interim = df_init.drop(columns=cols_missing_gt80pct)

### Interim dataset

In [12]:
# interim dataset
# 1. how many columns does the interim dataset contain?
print(f"The number of columns in the interim dataset: {df_interim.shape[1]}")

# 2. how many rows are there in the interim dataset?
print(f"The number of columns in the interim dataset: {df_interim.shape[0]}")

The number of columns in the interim dataset: 286
The number of columns in the interim dataset: 2302521

In [13]:
# 3. how many missing values are there in each column?
df_interim.isna().sum().sort_values(ascending=False).head(20)

LOCAL_FIRE_REPORT_ID       1824846
geometry                   1730504
GACC_Fire Use Teams        1710985
GACCAbbrev                 1183441
GACC_PL                    1183441
GACC_New fire              1183441
GACC_New LF                1183441
GACC_Uncont LF             1183441
GACC_Type 1 IMTs           1183441
GACC_Type 2 IMTs           1183441
GACC_NIMO Teams            1183441
GACC_Area Command Teams    1183441
FIRE_NAME                   995395
CONT_TIME                   989572
CONT_DATE                   894622
CONT_DOY                    894622
road_common_name_dis        817488
No_FireStation_5.0km        797216
DISCOVERY_TIME              787973
LOCAL_INCIDENT_ID           744410
dtype: int64

In [14]:
# how would the dataset looks like if columns with any missing data are dropped?
df_interim.dropna(axis=1, how='any').shape

(2302521, 36)

In [15]:
list(df_interim.dropna(axis=1, how='any').columns)

['FOD_ID',
 'FPA_ID',
 'SOURCE_SYSTEM_TYPE',
 'SOURCE_SYSTEM',
 'NWCG_REPORTING_AGENCY',
 'NWCG_REPORTING_UNIT_ID',
 'NWCG_REPORTING_UNIT_NAME',
 'SOURCE_REPORTING_UNIT',
 'SOURCE_REPORTING_UNIT_NAME',
 'FIRE_YEAR',
 'DISCOVERY_DATE',
 'DISCOVERY_DOY',
 'NWCG_CAUSE_CLASSIFICATION',
 'NWCG_GENERAL_CAUSE',
 'FIRE_SIZE',
 'FIRE_SIZE_CLASS',
 'LATITUDE',
 'LONGITUDE',
 'OWNER_DESCR',
 'STATE',
 'NPL',
 'rpms',
 'rpms_1km',
 'FRG',
 'Aspect_1km',
 'Elevation_1km',
 'Elevation',
 'Slope_1km',
 'Aspect',
 'Slope',
 'GHM',
 'Annual_etr',
 'Annual_precipitation',
 'NDVI_min',
 'NDVI_max',
 'NDVI_mean']

Only 36 variables are left if we were to drop cols with any missing values. Many interesting variables were dropped.

### Get to know period covered

In [16]:
df_interim.DISCOVERY_DATE

0          2007-01-01
1          2007-01-01
2          2007-01-01
3          2007-01-01
4          2007-01-01
              ...
2302516    2003-12-31
2302517    2003-12-31
2302518    2003-12-31
2302519    2003-12-31
2302520    2003-12-31
Name: DISCOVERY_DATE, Length: 2302521, dtype: object

In [17]:
df_interim['DISCOVERY_DATE'] = pd.to_datetime(df_interim.DISCOVERY_DATE)

In [18]:
print(
    'Time period covered:',
    df_interim.DISCOVERY_DATE.min(), 'to',
    df_interim.DISCOVERY_DATE.max()
)

Time period covered: 1992-01-01 00:00:00 to 2020-12-31 00:00:00

In [19]:
yr_counts = df_interim.DISCOVERY_DATE.dt.year.value_counts().sort_index()
yr_counts

DISCOVERY_DATE
1992     67961
1993     61972
1994     75935
1995     71440
1996     75561
1997     61442
1998     68356
1999     89350
2000     96397
2001     87001
2002     76128
2003     68279
2004     69371
2005     92920
2006    117944
2007     98832
2008     88322
2009     81477
2010     85578
2011     98904
2012     74258
2013     66434
2014     70480
2015     77274
2016     81994
2017     82279
2018     80863
2019     62548
2020     73221
Name: count, dtype: int64

Because of the systemic change in our climate, e.g., climate crisis, there is likely time series element in play. Therefore, splitting randomly may not be the best option.
One reference that we could use is the example of predicting COVID-19 growth rate in week 03. In the COVID-19 growth example, the data was split based on timeline - in which training data is the first 20 day, and test data is the last 10 day. 

If we were to use simliar approach, we would choose a cutoff year. That is, main training dataset (to include training and validation) will be examples (i.e., fire incidents) from year 1992 up to the cutoff year. And the test dataset will be examples in years after the cutoff year.

Below is code to find out the cutoff year, should we reserve 20% of the data for testing.

In [20]:
print(f"Total observations: {yr_counts.sum()}") 
print(f"20% of total obs: {round(yr_counts.sum()*0.2)}")

Total observations: 2302521
20% of total obs: 460504

In [21]:
cutoff_yr = 2014            # try 2014 (since 2015 and later years do not amount to 20% of total observations)
print(f"Total observations from year {cutoff_yr} to 2020: {yr_counts[yr_counts.index >= cutoff_yr].sum()}")
print(f"It is larger than or equal to 20% of total obs: {yr_counts[yr_counts.index >= cutoff_yr].sum() >= round(yr_counts.sum()*0.2)}")

Total observations from year 2014 to 2020: 528659
It is larger than or equal to 20% of total obs: True